body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand img {
  height: 30px;
}